---
import Logo from "./Logo.astro";
import { getI18n } from '../i18n'

const i18n = getI18n(Astro.currentLocale)
---

<section
  class="text-xl text-left px-6 sm:px-20 max-w-[70ch] text-pretty mx-auto my-24"
>
  <!-- <img src="/logo.png" class="w-12 mb-10 mx-auto" alt="Logo de los Esland" /> -->

  <Logo class="w-11 mb-10 mx-auto" alt="Logo de los Esland" />
  
  <h1
    class="text-5xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide"
  >
  {i18n.INTRO_TITLE} <br /> {i18n.INTRO_TITLE_AFTER_BR}
  </h1>

  <p set:html={i18n.INTRO_DESCRIPTION_1}></p>
  <p set:html={i18n.INTRO_DESCRIPTION_2}></p>
  <p set:html={i18n.INTRO_DESCRIPTION_3}></p>

</section>
